<section class="features">
  <div class="container">
    <h2>Преимущества нашей платформы</h2>
    <div class="features-grid">
      <div class="feature-item">
        <img src="{{ url_for('static', path='/icons/feature1.jpg') }}" alt="Иконка Преимущества 1">
        <h3>Индивидуальные рекомендации</h3>
        <p>Платформа предоставляет персонализированные рекомендации, учитывая уникальные особенности каждого ребенка.</p>
      </div>
      <div class="feature-item">
        <img src="{{ url_for('static', path='/icons/feature2.jpg') }}" alt="Иконка Преимущества 2">
        <h3>Прогнозирование и анализ</h3>
        <p>Используйте мощные инструменты анализа для прогнозирования и отслеживания прогресса вашего ребенка.</p>
      </div>
      <div class="feature-item">
        <img src="{{ url_for('static', path='/icons/feature3.jpg') }}" alt="Иконка Преимущества 3">
        <h3>Удобный интерфейс</h3>
        <p>Интуитивно понятный и удобный интерфейс для простого и быстрого взаимодействия.</p>
      </div>
    </div>
  </div>
</section>