<section class="pricing">
  <h2>Наши тарифы</h2>
  <div class="pricing-container">
    <div class="pricing-item">
      <h3>Бесплатный</h3>
      <p class="price">0 $</p>
      <ul>
        <li>- Создание профиля ребенка</li>
        <li>- Контроль развития ребенка с предоставлением графиков</li>
        <li>- Ограниченный доступ к истории данных</li>
        <li>- Ограниченный доступ к рекомендациям</li>
      </ul>
      <div class="button-container">
        <a href="#" class="cta-button">Начать бесплатно</a>
      </div>
    </div>
    <div class="pricing-item premium">
      <h3>Премиум</h3>
      <p class="price">9,99 $ / год</p>
      <ul>
        <li>- Выявление этапа развития</li>
        <li>- Выявление этапов подросткового возраста</li>
        <li>- Рекомендации по психологическому развитию</li>
        <li>- Рекомендации по физическому развитию</li>
        <li>- Рекомендации по здоровью</li>
        <li>- Рекомендации по питанию</li>
        <li>- Рекомендации по воспитанию</li>
      </ul>
      <div class="button-container">
        <a href="#" class="cta-button">Перейти на Премиум</a>
      </div>
    </div>
  </div>
</section>