<section class="target-audience">
  <div class="container">
    <h2>Для кого эта платформа?</h2>
    <p>Наша платформа разработана для тех, кто заботится о будущем детей.</p>
    <div class="audience-cards">
      <div class="card">
        <img src="{{ url_for('static', path='/icons/parent.jpg') }}" alt="Иконка для родителей">
        <h3>Родители</h3>
        <p>Получайте рекомендации по развитию и здоровью вашего ребенка.</p>
      </div>
      <div class="card">
        <img src="{{ url_for('static', path='/icons/coach.jpg') }}" alt="Иконка для тренеров">
        <h3>Тренеры</h3>
        <p>Следите за прогрессом своих подопечных и поддерживайте их развитие.</p>
      </div>
      <div class="card">
        <img src="{{ url_for('static', path='/icons/teachers.jpg') }}" alt="Иконка для учителей">
        <h3>Учителя</h3>
        <p>Поддерживайте учеников в их учебе и личностном росте.</p>
      </div>
    </div>
  </div>
</section>