<header>
  <div class="container">
    <a href="#" class="logo">Star Track</a>
    <nav>
      <ul class="nav-menu">
        <li><a href="#">О нас</a></li>
        <li><a href="#">Услуги</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </nav>
    <div class="account">
      <a href="#" class="btn-rounded">Личный кабинет</a>
      <a href="#" class="btn-rounded">Выйти</a>
      <a href="#" class="btn-rounded">Личный кабинет</a>
    </div>
    <div class="language-switch">
      <a href="?lang=ru">RU</a> | <a href="?lang=en">EN</a>
    </div>
  </div>
</header>
