<main>

  {% include 'homepage_components/main_components/main_section.html' %}

  <div class="container">
    {% include 'homepage_components/main_components/div_flash_messages.html' %}

    {% include 'homepage_components/main_components/hera_section.html' %}

    {% include 'homepage_components/main_components/services_section.html' %}

    {% include 'homepage_components/main_components/call_section.html' %}

    {% include 'homepage_components/main_components/about_section.html' %}

    {% include 'homepage_components/main_components/features_section.html' %}

    {% include 'homepage_components/main_components/target_section.html' %}

    {% include 'homepage_components/main_components/interactive_block.html' %}

    {% include 'homepage_components/main_components/research_section.html' %}

    {% include 'homepage_components/main_components/testimonials.html' %}

    {% include 'homepage_components/main_components/pricing.html' %}

    {% include 'homepage_components/main_components/pricing.html' %}

    {% include 'homepage_components/main_components/faq_section.html' %}

  </div>

</main>