* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

.main {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url("/static/parent with child.jpg") no-repeat center center/cover;
}

.main::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.form-container {
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
    width: 642px;
    padding: 40px 80px 60px 80px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Для Safari */
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

h1 {
    font-size: 24px;
    font-weight: 600;
    color: white;
    line-height: 29.26px;
    margin: 0 0 40px 0;
    text-align: center;
}

.google-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 482px;
    height: 64px;
    background: rgba(102, 108, 232, 1);
    border-radius: 15px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.94px;
    margin-bottom: 24px;
    border: none;
    cursor: pointer;
}

.google-icon {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    object-fit: contain;
}

.email-input {
    width: 482px;
    height: 62px;
    padding: 20px 24px;
    border: 2px solid rgba(102, 108, 232, 1);
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 21.94px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.checkbox-container {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 24px;
}

.checkbox-container input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border: 1.45px solid rgba(102, 108, 232, 1);
    background: rgba(102, 108, 232, 1);
    border-radius: 10px;
}

.checkbox-container label {
    font-size: 14px;
    color: white;
    line-height: 17.07px;
}

.checkbox-container a {
    color: rgba(102, 108, 232, 1);
}

.submit-btn {
    width: 482px;
    height: 62px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    line-height: 21.94px;
    border: none;
    cursor: pointer;
}
