{% extends 'base.html' %}

{% block title %}
Вход
{% endblock %}

{% block content %}
<div class="login-container">
  <div class="login-box">
    <h2>Добро пожаловать в StarTrack!</h2>
    <button class="gmail-button">
      <img src="Иконка Gmail" alt="G" class="gmail-icon">
      Продолжить через Gmail
    </button>
    <input type="email" placeholder="Email" class="email-input">
    <div class="checkbox-container">
      <input type="checkbox" id="agree">
      <label for="agree">
        Соглашаюсь на обработку <a href="#">персональных данных</a> и даю согласие на что-нибудь еще
      </label>
    </div>
    <button class="submit-button">Продолжить</button>
  </div>
</div>
{% endblock %}

